[
  {
    "Alias": "{{ awsredrive_Alias }}",
    "QueueUrl": "{{ awsredrive_QueueUrl }}",
    "RedriveUrl": "{{ awsredrive_RedriveUrl }}",
    "Region": "{{ awsredrive_Region }}",
    "Active": {{ awsredrive_Active }},
    "Timeout": {{ awsredrive_Timeout }}
  }
]
